@keyframes fadeIn {
    from {
         opacity: 0;
    }

    to {
         opacity: 1;
    }
}

@keyframes fromLeft {
     from {
          left: -400px;
     }
     to {
          left: $infoPanelLeft;
     }
}

@keyframes toLeft {
     from {
          left: $infoPanelLeft;

     }
     to {
          left: -400px;
     }
}

