$slate: #22272c;
$wine: #4c1731;
$mapPanelOpacity: 0.8;

// For info panel fromleft animation
$infoPanelLeft: 25px;
@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400;0,500;1,400;1,500&display=swap');
